html, button {
	font-family: helvetica;
	font-size: 18px;
}

button {
	width: 35px;
	height: 35px;
	margin: 5px;
	border: none;
}

.calcLayout {
	background-color: #555;
	width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
}

.evalButton { width: 92.5% }

.display {
	text-align: right;
	margin: 5px;
	margin-bottom: 15px;
	height: 20px;
	width: 90%;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 5px;
}

@media (prefers-color-scheme: light) {
	.numberButton { background-color: #3ce }

	.cancelButton { background-color: #e33 }

	.evalButton { background-color: #2e7 }

	.display { background-color: white }
}
/*dark theme has "warmer" colors to reduce blue light*/
@media (prefers-color-scheme: dark) {
	.numberButton { background-color: #3bb }

	.cancelButton { background-color: #c22 }

	.evalButton { background-color: #4b2 }

	.display { background-color: black }
}